//button
$blue:#007aff;
$red:#dd524d;
$yellow:#d69250;
$green:#35b93b;
$orange:rgb(254,137,0);
$white:#fff;
$button-disabled-bg-color:              #e9ebec;
$button-disabled-text:                  #BBBBBB;

//content-bg
$content-bg:             #fafafa;

$bordercolor:           #ddd;
//#C0BFC4
//#c8c7cc e9e9e9

//p段落灰色
$gray:    #777;  



